ol {
  list-style-type: none;
  padding: 0.5em;
  clear: both;
}

ol li ol {
  list-style-type: none;
  height: 14em;
}

ol li img {
  float: left;
  width: 150;
  margin: 0.5em;
  border: none;
}

td {
  padding-left: 0.5em;
}

a {
  text-decoration: none;
}

.sysinfo div {
  position: relative;
  z-index: 1;
}

.sysinfo div div{
  display: none;
}

.sysinfo div:hover div {
  display: block;
  border: solid black 1px;
  position: absolute;
  top: 0;
  left: 100%;
  width: 18em;
  padding: 5px;
  font-size: 0.8em;
  background-color: #ffff94;
  z-index: 1000;
}
